# SSL Termination should only happen here if the deployment is local or on premises
# Redirection from port 80 won't allow the application to be served in HTTP

<VIZIX URL>:80 {
    redir https://{host}{uri}
}

<VIZIX_URL>:443 {
#  tls infrastructure@mojix.com
  #tls /root/.caddy/wildcard.vizix.io/bundle-ca.pem /root/.caddy/wildcard.vizix.io/key.pem
  tls off
  gzip
  log / stdout "{remote} - {user} [{when}] \"{method} {uri} {proto}\" {status} {size} {latency}"
  errors stderr
  timeouts 2h

  proxy / ui:80 {
    policy round_robin
    health_check /console/scripts/config.js
    transparent
  }

##########################################
#                                        #
#              SERVICES API              #
#                                        #
##########################################

  proxy /riot-core-services services:8080 {
    policy round_robin
    health_check /riot-core-services/api/swagger.json
    transparent
  }

##########################################
#                                        #
#        SERVICES INGESTION PATCH        #
#                                        #
##########################################

  rewrite /riot-core-services {
    if {path} has thingBridge
    r /api(.*)
    to /http-bridge{1}
  }

  proxy /http-bridge hbridge:8080 {
    policy round_robin
    health_check /http-bridge/thingBridge/thing
    transparent
    websocket
  }

##########################################
#                                        #
#            TagAuth Redirect            #
#                                        #
##########################################

  rewrite /eclipse-frontal-association {
    r (.*)
    to /digital-signature/pairing/associate{1}
  }

##########################################
#                                        #
#            EXTERNAL SERVICES           #
#                                        #
##########################################

  proxy /notifications https://onesignal.com/api/v1/notifications {
  without /notifications
  }

  proxy /minio minio:9000 {
    transparent
  }

  proxy /vizix-cdn minio:9000 {
    transparent
    without /vizix-cdn
  }

  redir /flow /flow/
  proxy /flow flow:1880 {
    policy round_robin
    without /flow
    transparent
    websocket
  }

##########################################
#                                        #
#           SHOPCX ENDPOINTS             #
#                                        #
##########################################

  proxy /serialization-api externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /epcis-core externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /api externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /static externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /epcis-events-input-rest/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-api-status-rest/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-epcis-events-input-rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-api-configuration/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-api-aggregates/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /product-recommendation-api/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /product-api/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-api-supervision/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /supply-chain-api/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /supply_chain/transactions externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /results externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /configurations externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /openapi externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /printing-api/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-api-monitoring externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /digital-signature externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /tag-management externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /tag-management-ws externaltransformer:8080 {
    policy round_robin
    transparent
  }

  proxy /tagsys externaltransformer:8080/digital-signature {
    policy round_robin
    without /tagsys
    transparent
  }

  proxy /Tagsys externaltransformer:8080/digital-signature {
    policy round_robin
    without /Tagsys
    transparent
  }

  proxy /digital_platform externaltransformer:8080/digital-signature {
    policy round_robin
    without /digital_platform
    transparent
  }

  proxy /tagauth externaltransformer:8080/digital-signature {
    policy round_robin
    transparent
  }

  proxy /statemachine-api-tagauth/rest/encryption/key externaltransformer:8080 {
    policy round_robin
    transparent
  }

  proxy /supervision externaltransformer:8080/digital-signature {
    policy round_robin
    transparent
  }

##########################################
#                                        #
#           SHOPCX DASHBOARDS            #
#                                        #
##########################################

  proxy /statemachine-api-dashboard-configuration externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-api-dashboard-monitoring externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /configuration-dashboard externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /printing-dashboard externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /merchandising-dashboard externaltransformer:8080 {
    transparent
    policy round_robin
  }
  proxy /backoffice externaltransformer:8080 {
    policy round_robin
    transparent
  }
}

##########################################
#                                        #
#                KIBANA                  #
#                                        #
##########################################

kibana.<URL>:80 {

  #tls infrastructure@mojix.com
  #tls /root/.caddy/wildcard.vizix.io/bundle-ca.pem /root/.caddy/wildcard.vizix.io/key.pem
  tls off
  gzip
  log / stdout "{remote} - {user} [{when}] \"{method} {uri} {proto}\" {status} {size} {latency}"
  errors stderr
  timeouts 2h

  proxy / shopcx-kibana:5601 {
    transparent
    policy round_robin
  }
}

##########################################
#                                        #
#               ANALYTICS                #
#                                        #
##########################################


notebooks.<URL>:443 {

  #tls infrastructure@mojix.com
  #tls /root/.caddy/wildcard.vizix.io/bundle-ca.pem /root/.caddy/wildcard.vizix.io/key.pem
  tls off
  gzip
  log / stdout "{remote} - {user} [{when}] \"{method} {uri} {proto}\" {status} {size} {latency}"
  errors stderr
  timeouts 2h

  redir /notebooksapi /notebooksapi/
  proxy /notebooksapi notebooks_api:8999 {
    without /notebooksapi
    transparent
    websocket
  }

  proxy / notebooks:8888 {
    transparent
    websocket
  }
}

analytics.<URL>:443 {
  #tls infrastructure@mojix.com
  #tls /root/.caddy/wildcard.vizix.io/bundle-ca.pem /root/.caddy/wildcard.vizix.io/key.pem
  tls off
  gzip
  log / stdout "{remote} - {user} [{when}] \"{method} {uri} {proto}\" {status} {size} {latency}"
  errors stderr
  timeouts 2h

  proxy / analytics:3000 {
    websocket
    transparent
  }
}

##########################################
#                                        #
#               GRAFANA                  #
#                                        #
##########################################
grafana.<URL>:443 {
  #tls infrastructure@mojix.com
  #tls /root/.caddy/wildcard.vizix.io/bundle-ca.pem /root/.caddy/wildcard.vizix.io/key.pem
  tls off
  gzip
  log / stdout "{remote} - {user} [{when}] \"{method} {uri} {proto}\" {status} {size} {latency}"
  errors stderr
  timeouts 2h

  proxy / grafana:3000 {
    header_upstream "X-WEBAUTH-USER" "admin"
  }
}


